<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>The home page</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis accusamus
  suscipit error! Perferendis harum facere, explicabo, molestiae minus quas
  molestias beatae sed quisquam incidunt fugit culpa sunt voluptate, id odit.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorem
  eligendi, voluptas dolore necessitatibus blanditiis neque id autem aut
  officiis molestias molestiae alias nisi exercitationem omnis minus natus iusto
  sequi.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet doloribus
  reprehenderit assumenda odit perspiciatis sequi quisquam aspernatur debitis
  alias, cum, modi quos, repudiandae quaerat! Ea iure maxime impedit aut
  repellendus!
</p>
<%- include('partials/footer') %>
