<% layout('layouts/boilerplate.ejs') %>

<div class="row">
  <div class="col-6 offset-3">
    <h1 class="text-center">Secret</h1>
    <form
      action="/logout"
      method="POST"
      class="d-flex mt-3 justify-content-center"
      role="logout"
    >
      <button class="btn btn-danger" type="submit">Logout</button>
    </form>
  </div>
</div>
